= form_for @application_setting, url: preferences_admin_application_settings_path(anchor: 'js-email-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :email_author_in_body, class: 'form-check-input'
        = f.label :email_author_in_body, class: 'form-check-label' do
          = _('Include author name in notification email body')
        .form-text.text-muted
          = _('Some email servers do not support overriding the email sender name. Enable this option to include the name of the author of the issue, merge request or comment in the email body instead.')
    .form-group
      .form-check
        = f.check_box :html_emails_enabled, class: 'form-check-input'
        = f.label :html_emails_enabled, class: 'form-check-label' do
          = _('Enable HTML emails')
        .form-text.text-muted
          = _('By default GitLab sends emails in HTML and plain text formats so mail clients can choose what format to use. Disable this option if you only want to send emails in plain text format.')
    .form-group
      = f.label :commit_email_hostname, _('Custom hostname (for private commit emails)'), class: 'label-bold'
      = f.text_field :commit_email_hostname, class: 'form-control gl-form-input'
      .form-text.text-muted
        - commit_email_hostname_docs_link = link_to _('Learn more'), help_page_path('user/admin_area/settings/email.md', anchor: 'custom-hostname-for-private-commit-emails'), target: '_blank'
        = _("This setting will update the hostname that is used to generate private commit emails. %{learn_more}").html_safe % { learn_more: commit_email_hostname_docs_link }

    = render_if_exists 'admin/application_settings/email_additional_text_setting', form: f

  = f.submit _('Save changes'), class: "gl-button btn btn-success", data: { qa_selector: 'save_changes_button' }
